In [1]:
import numpy as np
import pandas as pd

In [2]:
list_a = [-18,-27,-31,-4,np.nan]

In [3]:
list_b = [-2,-3,-16,-15]

In [5]:
dataset = pd.DataFrame()

In [6]:
dataset['list_a'] = list_a

In [7]:
dataset['list_b'] = pd.Series(list_b)

In [8]:
dataset

   list_a  list_b
0   -18.0    -2.0
1   -27.0    -3.0
2   -31.0   -16.0
3    -4.0   -15.0
4     NaN     NaN